node-red flow.txt
[{"id":"deb0d57.1c46528","type":"tab","label":"Flow 1","disabled":false},{"id":"51ff7f13.abbaa","type":"ibmiot in","z":"deb0d57.1c46528","authentication":"boundService","apiKey":"","inputType":"evt","deviceId":"1994","applicationId":"","deviceType":"building","eventType":"+","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":"","allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":145,"y":231,"wires":[["80d332fd.5ce05","437b1eab.7329e","5c7c3888.b55db8","982b8511.d70398","f35a49ca.2b8328","b1aff670.b02008"]]},{"id":"5c7c3888.b55db8","type":"function","z":"deb0d57.1c46528","name":"Temp","func":"var msg= {payload:msg.payload.d.Temp} ;\nreturn msg;","outputs":1,"noerr":0,"x":320,"y":229,"wires":[["13f38a20.408426"]]},{"id":"80d332fd.5ce05","type":"debug","z":"deb0d57.1c46528","name":"","active":false,"console":"false","complete":"payload","x":557,"y":152,"wires":[]},{"id":"437b1eab.7329e","type":"cloudant out","z":"deb0d57.1c46528","name":"DB","cloudant":"","database":"buildng","service":"Smart Building IBM-cloudantNoSQLDB","payonly":false,"operation":"insert","x":536,"y":111,"wires":[]},{"id":"f35a49ca.2b8328","type":"function","z":"deb0d57.1c46528","name":"Current","func":"var msg= {payload:msg.payload.d.Current} ;\nreturn msg;","outputs":1,"noerr":0,"x":341,"y":408,"wires":[["db70bdb1.0c0e8"]]},{"id":"982b8511.d70398","type":"function","z":"deb0d57.1c46528","name":"Humidity","func":"var msg= {payload:msg.payload.d.Humidity} ;\nreturn msg;","outputs":1,"noerr":0,"x":325,"y":275,"wires":[["2909a65b.bc769a"]]},{"id":"13f38a20.408426","type":"ui_chart","z":"deb0d57.1c46528","name":"Temp","group":"292c88cb.02ea38","order":1,"width":"0","height":"0","label":"","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"60","removeOlder":"30","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":504,"y":315,"wires":[[],[]]},{"id":"2909a65b.bc769a","type":"ui_chart","z":"deb0d57.1c46528","name":"Humidity","group":"ebd2f5b5.e91d78","order":1,"width":0,"height":0,"label":"","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"100","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":512,"y":378,"wires":[[],[]]},{"id":"db70bdb1.0c0e8","type":"ui_text","z":"deb0d57.1c46528","group":"f1427a77.78e3c8","order":1,"width":0,"height":0,"name":"Current","label":"","format":"{{msg.payload}}","layout":"row-spread","x":516,"y":426,"wires":[]},{"id":"6d3251c7.5d889","type":"ui_slider","z":"deb0d57.1c46528","name":"Mode","label":"Slider","group":"aa913dc9.75a2a","order":1,"width":0,"height":0,"passthru":true,"topic":"surya","min":0,"max":"2","step":1,"x":119,"y":424,"wires":[["81df03a.932da","1d7e86c1.5c4fc9"]]},{"id":"8f9df700.e9e838","type":"switch","z":"deb0d57.1c46528","name":"Mode","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"0","vt":"num"},{"t":"eq","v":"1","vt":"str"},{"t":"eq","v":"2","vt":"str"}],"checkall":"true","outputs":3,"x":241,"y":724,"wires":[["104da31a.76d66d"],["c6f187d7.5bfc38"],["5fb6885b.5bf078"]]},{"id":"104da31a.76d66d","type":"function","z":"deb0d57.1c46528","name":"Eco","func":"msg.payload=\"Eco\";\nreturn msg;","outputs":1,"noerr":0,"x":416,"y":770,"wires":[["c82448c0.6de5d8","dd9d9ec9.27397"]]},{"id":"c82448c0.6de5d8","type":"debug","z":"deb0d57.1c46528","name":"","active":false,"console":"false","complete":"payload","x":634.5,"y":794,"wires":[]},{"id":"c6f187d7.5bfc38","type":"function","z":"deb0d57.1c46528","name":"Away","func":"msg.payload=\"Away\";\nreturn msg;","outputs":1,"noerr":0,"x":302,"y":894,"wires":[["258fdb84.a47494","42aedf71.9dbc2"]]},{"id":"5fb6885b.5bf078","type":"function","z":"deb0d57.1c46528","name":"Manual","func":"msg.payload=\"Manual\";\nreturn msg;","outputs":1,"noerr":0,"x":120,"y":973,"wires":[["32f594c1.118ddc","c1a36596.fc7bc8","ec83c1b.871254"]]},{"id":"258fdb84.a47494","type":"debug","z":"deb0d57.1c46528","name":"","active":false,"console":"false","complete":"payload","x":639,"y":840,"wires":[]},{"id":"32f594c1.118ddc","type":"debug","z":"deb0d57.1c46528","name":"","active":false,"console":"false","complete":"false","x":640,"y":882,"wires":[]},{"id":"28c60dff.43ef22","type":"ui_text","z":"deb0d57.1c46528","group":"aa913dc9.75a2a","order":2,"width":0,"height":0,"name":"","label":"Mode ","format":"{{msg.payload}}","layout":"row-spread","x":691,"y":535,"wires":[]},{"id":"81df03a.932da","type":"function","z":"deb0d57.1c46528","name":"Modes","func":"\nif(msg.payload==\"0\")\n{\nmsg.payload=\"Eco\";\n}\n\nelse if(msg.payload==\"1\")\n{\nmsg.payload=\"Away\";\n}\n\nelse if(msg.payload==\"2\")\n{\nmsg.payload=\"Manual\";\n}\n\nreturn msg;\n","outputs":1,"noerr":0,"x":374,"y":470,"wires":[["28c60dff.43ef22"]]},{"id":"b1aff670.b02008","type":"function","z":"deb0d57.1c46528","name":"pir","func":"\nvar value=msg.payload.d.PIRStatus;\nglobal.set(\"value\",value);\nreturn {payload:value};","outputs":1,"noerr":0,"x":325,"y":332,"wires":[[]]},{"id":"dd9d9ec9.27397","type":"function","z":"deb0d57.1c46528","name":"pir eco","func":"\nvar data= global.get(\"value\");\n\nif(data==1 && msg.payload==\"Eco\" )\n{\nreturn{payload:{\"MODE\":\"ECO\",\"LIGHT\":\"LIGHTON\",\"AC\":\"ACON\"}};\n}\nelse\n{\n return{payload:{\"MODE\":\"ECO\",\"LIGHT\":\"LIGHTOFF\",\"AC\":\"ACOFF\"}};   \n}","outputs":1,"noerr":0,"x":436,"y":678,"wires":[["204f2d7b.2e96b2","80ad7a8c.4ee3b8"]]},{"id":"204f2d7b.2e96b2","type":"debug","z":"deb0d57.1c46528","name":"","active":false,"console":"false","complete":"payload","x":600,"y":749,"wires":[]},{"id":"1d7e86c1.5c4fc9","type":"function","z":"deb0d57.1c46528","name":"state","func":"global.set(\"state\",msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":221,"y":493,"wires":[[]]},{"id":"4ecd7855.c43c18","type":"inject","z":"deb0d57.1c46528","name":"","topic":"","payload":"","payloadType":"date","repeat":"5","crontab":"","once":false,"x":75,"y":659,"wires":[["18fb7c39.38dab4"]]},{"id":"18fb7c39.38dab4","type":"function","z":"deb0d57.1c46528","name":"STATUS","func":"var state=global.get(\"state\");\nreturn {payload:state};","outputs":1,"noerr":0,"x":255,"y":584,"wires":[["8f9df700.e9e838"]]},{"id":"42aedf71.9dbc2","type":"function","z":"deb0d57.1c46528","name":"Away","func":"\nreturn {payload:{\"MODE\":\"AWAY\",\"LIGHT\":\"LIGHTOFF\",\"AC\":\"ACOFF\"}};","outputs":1,"noerr":0,"x":443,"y":1010,"wires":[["2864155c.93acba","80ad7a8c.4ee3b8"]]},{"id":"2864155c.93acba","type":"debug","z":"deb0d57.1c46528","name":"","active":false,"console":"false","complete":"payload","x":597,"y":1008,"wires":[]},{"id":"ec83c1b.871254","type":"ui_switch","z":"deb0d57.1c46528","name":"LIGHT","label":"LIGHT","group":"13fb3fd5.d47c5","order":1,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":168,"y":1084,"wires":[["60e522b2.5e19ec"]]},{"id":"60e522b2.5e19ec","type":"function","z":"deb0d57.1c46528","name":"Light conditions","func":"var sta = global.get(\"state\") \nif(msg.payload == true && sta == 2  )\n{\n    return{payload:{\"MODE\":\"MANUAL\",\"LIGHT\":\"LIGHTON\"}};\n}\nif(msg.payload == false && sta == 2 )\n{\n    return{payload:{\"MODE\":\"MANUAL\",\"LIGHT\":\"LIGHTOFF\"}};\n}","outputs":1,"noerr":0,"x":407,"y":1079,"wires":[["dc4a2c96.eb1f4","80ad7a8c.4ee3b8"]]},{"id":"dc4a2c96.eb1f4","type":"debug","z":"deb0d57.1c46528","name":"","active":false,"console":"false","complete":"payload","x":574,"y":1072,"wires":[]},{"id":"c1a36596.fc7bc8","type":"ui_switch","z":"deb0d57.1c46528","name":"AC","label":"AC","group":"13fb3fd5.d47c5","order":2,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":157,"y":1138,"wires":[["135fee0c.f44a32"]]},{"id":"135fee0c.f44a32","type":"function","z":"deb0d57.1c46528","name":"AC conditions","func":"var sta = global.get(\"state\") ;\nif(msg.payload == true && sta == 2 )\n{\n    return{payload:{\"MODE\":\"MANUAL\",\"AC\":\"ACON\"}};\n}\nif(msg.payload == false && sta == 2 )\n{\n    return{payload:{\"MODE\":\"MANUAL\",\"AC\":\"ACOFF\"}};\n}","outputs":1,"noerr":0,"x":382,"y":1148,"wires":[["ad7427ba.2a83f8","80ad7a8c.4ee3b8"]]},{"id":"ad7427ba.2a83f8","type":"debug","z":"deb0d57.1c46528","name":"","active":false,"console":"false","complete":"payload","x":578,"y":1148,"wires":[]},{"id":"80ad7a8c.4ee3b8","type":"ibmiot out","z":"deb0d57.1c46528","authentication":"boundService","apiKey":"","outputType":"cmd","deviceId":"1994","deviceType":"building","eventCommandType":"surya","format":"json","data":"da","qos":0,"name":"IBM IoT","service":"registered","x":651,"y":633,"wires":[]},{"id":"292c88cb.02ea38","type":"ui_group","z":"","name":"Temperature","tab":"13d618e.35998e7","order":2,"disp":true,"width":"6"},{"id":"ebd2f5b5.e91d78","type":"ui_group","z":"","name":"Humidity","tab":"13d618e.35998e7","order":3,"disp":true,"width":"6"},{"id":"f1427a77.78e3c8","type":"ui_group","z":"","name":"Current","tab":"13d618e.35998e7","order":4,"disp":true,"width":"6"},{"id":"aa913dc9.75a2a","type":"ui_group","z":"","name":"Mode Select","tab":"13d618e.35998e7","order":5,"disp":true,"width":"6"},{"id":"13fb3fd5.d47c5","type":"ui_group","z":"","name":"Manual Mode","tab":"13d618e.35998e7","disp":true,"width":"6"},{"id":"13d618e.35998e7","type":"ui_tab","z":"","name":"Smart Building","icon":"dashboard"}]